@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

main{
    grid-template-areas: "aside container container container container container container container container container container container container container container container container container container container";
}

aside{
    grid-area: aside;
}

section{
    grid-area: container;
}

