@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

main{
    grid-template-areas: "aside container container container container container container container container container container container container container container container container container container container";
}

aside{
    grid-area: aside;
}

section{
    grid-area: container;
}

.main-table td,th{
    border: 0.4rem solid white;
    padding: 8px;
}

.main-table tr th{
    color: white;
}


.main-table td{
    text-align: center;
}

